nav#mainNav.navbar.navbar-expand-lg
    .container
        a.navbar-brand.js-scroll-trigger(href='index.html')
            img(src='img/logo.png')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item                    
                    a.nav-link(href='#') Nosotros
                li.nav-item
                    a.nav-link(href='#') Servicios
                li.nav-item
                    a.nav-link(href='#') Blog
                li.nav-item
                    a.nav-link(href='#') Contacto
                
