<!DOCTYPE html>
html(lang="es") 
head
	meta(charset="UTF-8")
	title Staff Creativa
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	link(name="author", content="Gerson Perez Aguilar")
body
	include global/header
	main.landing
		section.blckA
			.container
				.row
					.description.col-md-6.offset-md-6
						h3 Nuestro objetivo:
						h2 
							|incrementar el valor 
							|de tu negocio
						hr
						p 
							|En SVC entendemos que los negocios extraordinarios se crean en las líneas que 
							|están por encima de la utilidad operativa dentro del estado de resultados, es
							|decir, en el espacio donde la estrategia y la consultoría enfocada en el valor
							|cobran relevancia
		section.blckB
			.container
				section.methodology
					article
						h4 Nuestra metodología
						p
							|A través de la elaboración de un modelo financiero, analizamos junto contigo 
							|el modelo de negocio para tu empresa o emprendimiento. Con ello podre
							|mos determinar, por ejemplo:
						ul
							li Los productos o servicios más rentables
							li El tamaño de negocio mínimo
							li La conveniencia entre comprar o alquilar un activo
							li La conveniencia entre desarrollar tareas in-house o tercerizarlas
							li El mejor camino para lograr el crecimiento del negocio
							li El esquema de financiamiento más conveniente
							li Los aspectos contables y de planeamiento tributario a considerar

					article
						img(src="img/725x468.png")
				section.contentTeam
					.title
						h4 Te ofrecemos un equipo senior de consultores
						p
							| con amplia experiencia en finanzas corporativas y estrategia,
							| dedicados de forma exclusiva. 
					
					section.team
						
						article.items
							section
								figure.team-img
									img(src="img/team/alexandra.png")
								.team-title
									h5 Alexandra Cruz B.
									p Gerente general
								.team-description
									p 
										|Lorem ipsum dolor sit amet, consectetuer adi - 
										|piscing elit, sed diam nonummy nibh euismod 
										|tincidunt ut laoreet dolore magna aliquam erat 
										|volutpat. Ut wisi enim ad minim veniam, quis 
										|nostrud exerci tation ullamcorper suscipit lobor -
										|tis nisl ut aliquip sequat.
						article.items
							section
								figure.team-img
									img(src="img/team/rodrigo.png")
								.team-title
									h5 Rodrigo Cruz B.
									p Gerente general
								.team-description
									p 
										|Lorem ipsum dolor sit amet, consectetuer adi - 
										|piscing elit, sed diam nonummy nibh euismod 
										|tincidunt ut laoreet dolore magna aliquam erat 
										|volutpat. Ut wisi enim ad minim veniam, quis 
										|nostrud exerci tation ullamcorper suscipit lobor -
										|tis nisl ut aliquip sequat.
								
						article.items
							section
								figure.team-img
									img(src="img/team/alex.png")
								.team-title
									h5 Alex Cruz B.
									p Gerente general
								.team-description
									p 
										|Lorem ipsum dolor sit amet, consectetuer adi - 
										|piscing elit, sed diam nonummy nibh euismod 
										|tincidunt ut laoreet dolore magna aliquam erat 
										|volutpat. Ut wisi enim ad minim veniam, quis 
										|nostrud exerci tation ullamcorper suscipit lobor -
										|tis nisl ut aliquip sequat.
						//Cuando se descomenten este item, se activará el  slider
						//article.items
							section
								figure.team-img
									img(src="img/team/alex.png")
								.team-title
									h5 Alex Cruz B.
									p Gerente general
								.team-description
									p 
										|Lorem ipsum dolor sit amet, consectetuer adi - 
										|piscing elit, sed diam nonummy nibh euismod 
										|tincidunt ut laoreet dolore magna aliquam erat 
										|volutpat. Ut wisi enim ad minim veniam, quis 
										|nostrud exerci tation ullamcorper suscipit lobor -
										|tis nisl ut aliquip sequat.

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
	
	script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
	script(type="text/javascript" src='js/app.js')